name: Deploy
on:
  push:
    branches: ["main"]
jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Log in to Docker Image Repository
        uses: docker/login-action@v3
        with:
          registry: ${{ secrets.DOCKER_REGISTRY }}
          username: ${{ secrets.DOCKER_REGISTRY_USERNAME }}
          password: ${{ secrets.DOCKER_REGISTRY_PASSWORD }}

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          push: true
          cache-from: type=registry,ref=${{ secrets.DOCKER_REGISTRY }}/${{ github.repository_owner }}/potential-bot:buildcache
          cache-to: type=registry,ref=${{ secrets.DOCKER_REGISTRY }}/${{ github.repository_owner }}/potential-bot:buildcache,mode=max
          tags: |
            ${{ secrets.DOCKER_REGISTRY }}/${{ github.repository_owner }}/potential-bot:${{ github.ref_name }}
            ${{ secrets.DOCKER_REGISTRY }}/${{ github.repository_owner }}/potential-bot:latest

      - name: Notificar para fazer o deploy
        run: >
          curl -X POST 
          -H "Authorization: Bearer ${{ secrets.DEPLOY_API_TOKEN }}" 
          "${{ secrets.DEPLOY_WEBHOOK_URL }}"
